{% extends "base.html" %}
{%block content%}
<br>
<div class="container d-flex justify-content-around">
  <!-- First Card -->
  <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Chatbot of Truth</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">Understanding the limitation of generative language models</h6>
      <p class="card-text">
        Chatbot of Truth is an web-based interaction inspired by the Rome tourist spot Mouth of Truth, with the Chatbot
        as its backbone.
      </p>The user can ask a yes/ no question, and the user will get a yes/no anser based on chatbot's
      best
      knowledge, and whether it's a <b>proper question to ask chatbot </b>
      For instance, if you ask <i>“Did I have coffee today”</i>, it will answer..
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Task 1</b> Please use the "interaction" tab for as many rounds of interaction as
        you want</li>
      <li class="list-group-item"><b>Task 2</b> Please navigate to "Takeaway" page for reading the takeaways
      </li>
    </ul>
  </div>

  <!-- Second Card -->
  <div class="card" style="width: 24rem;">
    <img src="/imgs/mot.png" class="card-img-top" alt="lot">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">&nbsp Chatbot of Truth</li>
    </ul>
  </div>
</div>


{%endblock%}