{% extends "base.html" %}
{%block content%}
<br>
<div class="container d-flex justify-content-around">
  <!-- First Card -->
  <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Chatbot of Truth</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">Understanding what are good questions to ask large language models</h6>
      <p class="card-text">
        Chatbot of Truth is an interactive webpage inspired by the famous tourist spot Mouth of Truth in Rome, Italy, with the Chatbot (a modified ChatGPT model)
        as its backbone.
        <br>
      You can ask a yes-or-no question, and the you will get a yes-or-no answer based on chatbot's
      best knowledge, and whether it's a <b>proper question to ask a chatbot. </b>
      For instance, if you ask <i>“Did I have coffee today”</i>, it will answer....
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Interaction:</b> Navigate to "Interaction" page to ask boolean questions</li>
      <li class="list-group-item"><b>Instruction:</b> Navigate to "instruction" page for instructions</li>
    </ul>
  </div>

  <!-- Second Card -->
  <div class="card" style="width: 24rem;">
    <img src="/imgs/mot.png" class="card-img-top" alt="lot">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">&nbsp Chatbot of Truth</li>
    </ul>
  </div>
</div>


{%endblock%}