{% extends "base.html" %}
{% block content %}
<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-left mb-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Ask a yes-or-no Question</h5>
          <p class="card-text">Please press and hold the button for prompting a question</p>
          <a href="#" id="speak-btn" class="btn btn-primary" onmousedown="startListening()" onmouseup="stopListening()">
            Press and hold to speak
          </a>
          <p class="card-text" id="voice-input"></p>
          <p class="card-text" id="question">Waiting for a question...</p>
          <p class="card-text"><strong>Answer:</strong> <span id="answer">{{ answer }}</span></p>
          <p class="card-text"><strong>Category:</strong> <span id="category_name">{{ category_name }}</span></p>
          <p class="card-text"><strong>Justification:</strong> <span id="justification">{{ justification }}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 24rem;">
        <img src="/imgs/mot.png" class="card-img-top" alt="lot">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">&nbsp Chatbot of Truth</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<audio id="intro-audio" src="{{ url_for('static', filename='voice/intro.wav') }}" preload="auto" loop></audio>
<audio id="yes-audio" src="{{ url_for('static', filename='voice/yes.wav') }}" preload="auto"></audio>
<audio id="no-audio" src="{{ url_for('static', filename='voice/no.wav') }}" preload="auto"></audio>
<audio id="idk-audio" src="{{ url_for('static', filename='voice/idk.wav') }}" preload="auto"></audio>
<audio id="reask-audio" src="{{ url_for('static', filename='voice/reask.wav') }}" preload="auto"></audio>
<audio id="1-audio" src="{{ url_for('static', filename='voice/1.wav') }}" preload="auto"></audio>
<audio id="2-audio" src="{{ url_for('static', filename='voice/2.wav') }}" preload="auto"></audio>
<audio id="3-audio" src="{{ url_for('static', filename='voice/3.wav') }}" preload="auto"></audio>
<audio id="4-audio" src="{{ url_for('static', filename='voice/4.wav') }}" preload="auto"></audio>
<audio id="5-audio" src="{{ url_for('static', filename='voice/5.wav') }}" preload="auto"></audio>
<audio id="6-audio" src="{{ url_for('static', filename='voice/6.wav') }}" preload="auto"></audio>
<audio id="7-audio" src="{{ url_for('static', filename='voice/7.wav') }}" preload="auto"></audio>

<script>
  let recognition;
  let isListening = false;
  const speakBtn = document.getElementById("speak-btn");

  if ('webkitSpeechRecognition' in window) {
    recognition = new webkitSpeechRecognition();
    recognition.continuous = false;
    recognition.interimResults = false;
    recognition.lang = 'en-US';

    recognition.onresult = function (event) {
      const transcript = event.results[0][0].transcript;
      const formattedTranscript = transcript.charAt(0).toUpperCase() + transcript.slice(1).trim() + "?";
      document.getElementById('question').innerText = "You asked: " + formattedTranscript;
      stopListening();
      askChatGPT();
    };

    recognition.onerror = function (event) {
      console.error('Speech Recognition Error:', event.error);
      speakBtn.disabled = false;
      speakBtn.classList.remove("disabled");
    };
  } else {
    alert('Your browser does not support Google Web Speech API. Please use Chrome.');
  }

  function startListening() {
    if (!recognition || isListening) return;
    isListening = true;
    speakBtn.disabled = true;
    speakBtn.classList.add("disabled");
    recognition.start();
    document.querySelectorAll('audio').forEach(audio => audio.pause());
  }

  function stopListening() {
    if (!recognition || !isListening) return;
    isListening = false;
    recognition.stop();
  }

  function checkAndPlayAudio() {
    const answer = document.getElementById('answer').innerText.trim(); //remove the empty texts before and after
    document.querySelectorAll('audio').forEach(audio => audio.pause()); // stop all auddio files
    console.log(answer);

    switch (answer) {
      case 'Yes.':
        document.getElementById('yes-audio').play();
        break;
      case 'No.':
        document.getElementById('no-audio').play();
        break;
      case "I don't know.":
        document.getElementById('idk-audio').play();
        break;
      case 'None.':
        document.getElementById('reask-audio').play();
        break;
    }
  }

  const observer = new MutationObserver(checkAndPlayAudio);
  observer.observe(document.getElementById('answer'), { childList: true });

  function playCategoryAudio() {
    const categoryName = document.getElementById('category_name').innerText.trim();
    if (categoryName && categoryName !== 'waiting...') {
      const category = categoryName.charAt(0);
      const audio = document.getElementById(category + '-audio');
      if (audio) {
        audio.play();
      } else {
        // If there is no category audio, reset the interface
        resetInterface();
      }
    }
  }

  document.getElementById('yes-audio').addEventListener('ended', playCategoryAudio);
  document.getElementById('no-audio').addEventListener('ended', playCategoryAudio);
  document.getElementById('idk-audio').addEventListener('ended', playCategoryAudio);

  for (let i = 1; i <= 7; i++) {
    const audio = document.getElementById(i + '-audio');
    if (audio) {
        audio.addEventListener('ended', resetInterface);
    }
  }
  document.getElementById('reask-audio').addEventListener('ended', resetInterface);


  document.getElementById('intro-audio').play();

  function askChatGPT() {
    const userQuestion = document.getElementById('question').innerText;

    fetch('/ask-chatgpt', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ question: userQuestion }),
    })
      .then(response => response.json())
      .then(data => {
        const answer = data.answer.trim();
        document.getElementById('answer').innerText = answer;

        // Only update category_name and justification if the answer is not "None."
        if (answer !== 'None.') {
          document.getElementById('category_name').innerText = data.category_name;
          document.getElementById('justification').innerText = data.justification;
        } else {
          document.getElementById('category_name').innerText = "waiting...";
          document.getElementById('justification').innerText = "waiting...";
        }
      })
      .catch(error => {
        console.error('Error retrieving answer:', error)
        resetInterface();
      });
  }

  function resetInterface() {
    document.getElementById('question').innerText = "Waiting for a question...";
    document.getElementById('answer').innerText = "waiting...";
    document.getElementById('category_name').innerText = "waiting...";
    document.getElementById('justification').innerText = "waiting...";

    const introAudio = document.getElementById('intro-audio');

    // Stop and reset the audio safely
    introAudio.pause();
    introAudio.currentTime = 0;

    // Play the intro audio after a 3-second delay
    setTimeout(() => {
      introAudio.play().catch(error => {
        console.error('Error playing intro audio:', error);
      });
    }, 3000);
    
    speakBtn.disabled = false;
    speakBtn.classList.remove("disabled");
  }

</script>

{% endblock %}