{% extends "base.html" %}
{%block content%}
<br>
<div class="container">
  <div class="card" style="width: 54rem;">
    <div class="card-body">
      <h5 class="card-title">Chatbot of Truth</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">Understanding what are proper questions to ask LLM chatbots</h6>
      <p>Large Language Model(LLM) Chatbots (like ChatGPT, Gemini, Deepseek) are AI trained on massive amounts of text to receive, 
        and generate human-like responses in conversation formats.</p>
    </div>
    <!-- <img src="/imgs/web_takeaway.png" class="card-img-top" alt="cot"> -->
    <ol class="list-group list-group-flush serif-font">
      <li class="list-group-item">You are encouraged to ask questions in these categories: </li>
      <li class="list-group-item">1. Personal and Contextual Insight (Example: Did I have breakfast today?)</li>
      <li class="list-group-item">2. Emotion and Relationship (Example: My friend is not replying to me. Do they still like me?) </li>
      <li class="list-group-item">3. Identity and Personhood (Example: I got a job offer from […] company. Should I accept it?) </li>
      <li class="list-group-item">4. Predicting the Future (Example: Will I graduate by next year?) </li>
      <li class="list-group-item">5. Medical or Legal Advice (Example: I am having a bad cold. Can I have four Tylenol pills?)</li>
      <li class="list-group-item">6. Sensory and Perceptual Limitation (Example: Is the sky currently overcast?) </li>
      <li class="list-group-item">7. General Knowledge and Fact-Checking (Example: Is one plus one equal three?) </li>
    </ol>
  </div>

</div>


{%endblock%}