{% extends "base.html" %}
{%block content%}
<br>
<div class="container">
  <div class="card" style="width: 54rem;">
    <div class="card-body">
      <h5 class="card-title">Chatbot of Truth</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">Understanding what are good questions to ask large language models</h6>
      <p>Large Language Model Chatbots (like ChatGPT, Gemini, Deepseek) are AI trained on massive amounts of text to receive, and generate human-like
        responses in conversation formats.</p>
    </div>
    <!-- <img src="/imgs/web_takeaway.png" class="card-img-top" alt="cot"> -->
    <ol class="list-group list-group-flush serif-font">
      <li class="list-group-item">You are encouraged to ask questions in these categories and test its responses: </li>
      <li class="list-group-item">1. Personal and Contextual Insight</li>
      <li class="list-group-item"> 2. Emotions and Relationships</li>
      <li class="list-group-item"> 3. Personal Opinions and Preferences</li>
      <li class="list-group-item"> 4. Predicting the Future and Speculation</li>
      <li class="list-group-item">5. Medical and Legal Advice</li>
      <li class="list-group-item">6. Sensory and Perceptual Limitations</li>
      <li class="list-group-item">7. Artistic and Literary Interpretation</li>
      <li class="list-group-item">8. General Knowledge and Fact-Checking</li>
      <li class="list-group-item">9. Identity and Personhood</li>
    </ol>
    <!-- <img src="/imgs/web_takeaway.png" class="card-img-top" alt="cot"> -->
    <!-- <ol class="list-group list-group-flush">
      <li class="list-group-item">1. Personal and Contextual Insight: Chatbots don’t know your personal details and
        can’t provide advice specific to your life.</li>
      <li class="list-group-item">
        2. Emotions and Relationships: Chatbots don’t understand emotions or relationships, so they can’t offer advice
        on personal matters. </li>
      <li class="list-group-item">3. Personal Opinions and Preferences: Chatbots don’t have personal opinions, so they
        can’t advise on individual tastes. </li>
      <li class="list-group-item"> 4. Predicting the Future and Speculation: Chatbots can’t predict future events or
        answer speculative questions. They stick to known facts. </li>
      <li class="list-group-item">5. Medical and Legal Advice: Chatbots aren’t suitable for health or legal advice.
        Consult a professional in these fields. </li>
      <li class="list-group-item">6. Sensory and Perceptual Limitations: Chatbots work only with text and can’t
        interpret sounds, images, or physical sensations. </li>
      <li class="list-group-item">7. Artistic and Literary Interpretation: Chatbots lack personal insight, so they can’t
        interpret art or literature with emotional depth. </li>
      <li class="list-group-item">8. General Knowledge and Fact-Checking: Chatbots excel at general knowledge and
        fact-checking in areas like history, science, and technology.</li>
      <li class="list-group-item"> 9. Identity and Personhood: Chatbots are not human. They don’t have identities,
        genders, or personalities.</li>
    </ol> -->
  </div>

</div>


{%endblock%}